<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<%- include('../partials/bootstrapCDN') %>
		<title>Register</title>
	</head>
	<body>
		<%- include('../partials/navbar-off', { title: 'Register' }) %>

		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1>Register New User</h1>
			</div>
		</div>

		<div class="container">
			<div class="row justify-content-center">
				<form action="" method="post" class="col-6">
					<div class="form-group row">
						<label for="inputEmail3" class="col-sm-2 col-form-label">Username</label>
						<div class="col-sm-10">
							<input
								type="text"
								name="username"
								class="form-control"
								id="inputEmail3"
								placeholder="Email"
							/>
						</div>
					</div>
					<div class="form-group row">
						<label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
						<div class="col-sm-10">
							<input
								type="password"
								name="password"
								class="form-control"
								id="inputPassword3"
								placeholder="Password"
							/>
						</div>
					</div>
					<div class="form-group row">
						<label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-10">
							<input
								type="email"
								name="email"
								class="form-control"
								id="inputEmail3"
								placeholder="Email"
							/>
						</div>
					</div>

					<div class="form-group row justify-content-end">
						<div class="col text-right">
							<button type="submit" class="btn btn-primary">Register</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
