<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<%- include('partials/bootstrapCDN') %>
		<title>Wagor Waroeng Gorengan Online</title>
	</head>
	<body>
		<!-- <%-// include('partials/navbar', {}) %> -->
		<div class="jumbotron jumbotron-fluid text-center">
			<div class="container">
				<h1>WAGOR</h1>
				<h6>Waroeng Gorengan Online Pertama di Indonesia</h6>
			</div>
		</div>
	</body>
</html>
