<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<%- include('../partials/bootstrapCDN') %>
		<title>Document</title>
	</head>
	<body>
		<%- include('../partials/navbar', {title: 'User', User})%>

		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1>Welcome, <%= User.Personal ? User.Personal.fullName : User.username %></h1>
				<% if (!User.Personal || !User.Personal.fullName || !User.Personal.address ) { %>

				<small
					>Your personal data is not completed yet.
					<a href="/<%= User.id %>/user/edit">Complete it now.</a></small
				>

				<% } %>
			</div>
		</div>
	</body>
</html>
