<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<%- include('../partials/bootstrapCDN') %>
		<title>Home - Wagor Waroeng Gorengan Online</title>
		<style>
			h1 {
				text-align: center;
				font-family: 'Courier New', Courier, monospace;
				font-size: 70px;
				font-style: strong;
				margin: 0px;
			}
			.header {
				text-align: center;
				background-color: aquamarine;
				padding-bottom: 0;
			}
		</style>
	</head>
	<body>
		<%- include('../partials/navbar', {title: 'Home', User}) %>
		<div class="header">
			<h1>WAGOR</h1>
			<h6>Waroeng Gorengan Online Pertama di Indonesia</h6>
		</div>

		<div class="container">
				<%for (let i = 0; i<Products.length; i++) {%>
						<div class="card-deck">
						<%for (let j=i; j<i+3; j++) {%>
							<div class="card">
								<img class="card-img-top" src="https://cdn2.tstatic.net/bangka/foto/bank/images/sajian-tahu-goreng-tepung-ketumbar.jpg" alt="Card image cap">
								<div class="text-center">
									<button class="btn btn-primary btn-sm">-</button>
									<span id="">0</span>
									<button class="btn btn-primary btn-sm">+</button>
								</div>
								<div class="card-body">
									<h5 class="card-title"><%= Products[i].productName %></h5>
								  </div>
							</div>							
							<%}%>	
						<%i = i + 2%>		
						</div>
					<%}%>	
		</div>
		
	</body>
</html>
